@inject IPriceGroupsData priceGData
@inject IPricesData pricesData

<div class="container col-xxl-6 col-lg-8 col-sm-12 position-absolute top-50 start-50 translate-middle border border-3 border-dark rounded bg-light">
    <div class="d-flex flex-column py-3 px-1">
        <div class="d-flex justify-content-end">
            <button type="button" class="btn-close" @onclick="CloseForm" aria-label="Sulje"></button>
        </div>
        <div>
            <h3 class="text-center">Muokkaa hintoja</h3>
        </div>
        <div class="col-sm-10 col-12 align-self-center px-3 py-3 border border-1 border-secondary bg-gradient">
            <EditForm class="" Model="priceModel" OnValidSubmit="(() => SendPrices())">
                @foreach (var p in prices)
                {
                    <div class="d-flex justify-content-center py-1">
                        <div class="col-4">
                            <label for="@($"group{p.PriceGroupId}")" class="col-form-label">@($"{p.PriceGroup!.Name}:")</label>
                        </div>
                        <div class="input-group" style="max-width:150px;">
                            <InputNumber TValue="decimal" 
                                class="form-control"
                                id="@($"group{p.PriceGroupId}")"
                                @bind-Value="p.Price"
                                aria-describedby="@($"addon{p.PriceGroupId}")"
                            />
                            <span class="input-group-text" id="@($"addon{p.PriceGroupId}")">€</span>
                        </div>                
                    </div>  
                }
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="d-flex justify-content-md-end gap-md-4 justify-content-between py-2">
                    <button type="button" class="btn btn-danger" @onclick="CloseForm">Peruuta</button>
                    <button type="submit" class="btn btn-success">Luo</button>
                </div>
            </EditForm>
        </div>
    </div> 
</div>
@code {
    List<FullPricesModel>? prices;
    PricesModel priceModel = new PricesModel();
    IEnumerable<PriceGroupsModel>? priceGroups;

    [CascadingParameter(Name = "ArticleId")]
    private string? articleId { get; set; }

    [Parameter]
    public EventCallback CancelProcess { get; set; }

    private bool isNewArticle;

    protected async override Task OnInitializedAsync()
    {
        int aId = int.Parse(articleId!);
        priceGroups = await priceGData.GetAllPriceGroups();
        prices = (await pricesData.GetAllPricesByArticleId(aId)).ToList();

        if (prices.Count() == 0)
        {
            isNewArticle = true;
            foreach (var pg in priceGroups)
            {
                prices.Add(new FullPricesModel() { PriceGroupId = pg.Id, ArticleId = aId, PriceGroup = pg });
            }
        }
    }

    private async void SendPrices()
    {
        // TODO Confirmation
        await pricesData.CreatePricesForArticle(prices);
    }

    private void CloseForm()
    {
        // TODO Confirmation
        CancelProcess.InvokeAsync();  
    } 
}
